@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

html, body a {
	text-decoration: none;
}

/*NAVBAR-STYLE*/
.nav {
	z-index: 10;
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
}

.logo {
   display: flex;
   align-items:center;
}

.nav div.logo {
	height: 65px;
    float: left;
    width: auto;
    margin-left: 3rem;
	display: flex;
}

.nav div.logo a {
    color: #fff;
    font-size: 2.5rem;
	transition-duration: .3s;
}

.nav div.logo a:hover {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255,255,255,.3), 0px 0px 10px rgba(255,255,255,.3), 0px 0px 10px rgba(255,255,255,.3);
  transition-duration: .3s;
}
.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
	transition-duration: .3s;
}

.nav div.main_list ul li a:hover {
  color: #fff;
  text-shadow: 0px 0px 10px rgba(255,255,255,.3), 0px 0px 10px rgba(255,255,255,.3), 0px 0px 10px rgba(255,255,255,.3);
  transition-duration: .3s;
}
/*NAVBAR-STYLE*/

/*NAVTRIGGER-STYLE*/
.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
/*NAVTRIGGER-STYLE*/

/*MEDIA-QUERY-SECTION*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
	.blackbg{
		background-color: #111 ;
	}
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}
/*MEDIA-QUERY-SECTION*/

/*NAVBAR-ANIMATION-STYLE*/
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}

.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}

.xbrand{
	margin-left: 5px;
	font-weight: bold;
}
.i-font{
	margin:0px 8px;
}
/*NAVBAR-ANIMATION-STYLE*/

/*FOOTER-STYLE*/
.footer_section{
	height:auto;
	background-color: #2E2E2E ;
	font-size: 1.8rem;
	color: #fff;
}

.footer_section a {
	color: #007bff;
}

.footer_section a:hover {
	color: #19B5FE;
}

.footer_wrapper {
	padding: 5px;
	margin: 0 20px;
}

.footer_header {
	padding: 0 15px;
}

.footer_columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.footer_column {
	flex: 1;
	margin: 2px;
	padding: 10px;
}

.footer_copyright {
	padding: 0 15px;
}

@media screen and (max-width: 980px) {
	.footer_columns .footer_column {
		margin-bottom: 5px;
		flex-basis: 40%;
	}
}

@media screen and (max-width: 680px) {
	.footer_columns .footer_column {
		flex-basis: 100%;
		margin: 0px;
		text-align: center;
	}
	.footer_columns .footer_column p{
		text-align:left;
	}
}
/*FOOTER-STYLE*/

/*---FORM-STYLE---*/  
.xform_section {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	min-height: 100vh;
	padding-bottom: 50px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
    background: linear-gradient(
    rgba(0, 0, 0, 0.25), 
    rgba(0, 0, 0, 0.25)
    ),
    url("../../assets/img/background.jpg");  
}

.align-left {
  text-align: left; 
}

.align-center {
  text-align: center; 
}

.align-right {
  text-align: right;
}

.xform{
	display:inline-block;
	background-color: #fff;
	z-index: 8;
	text-align: center;
	max-width: 350px;
	margin: 120px auto auto auto;
	border-radius: 5px;
	-webkit-box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	font-size: 1.5rem;
}

.xhead{
	border-radius: 5px 5px 0px 0px;
	max-height: 120px;
	max-width: 350px;
}

.xbanner{
	border-radius: 5px 5px 0px 0px;
}

.xlogo{
	padding: 10px;
}
.img_logo{
	height: 100px;
}

.xruntext {
	color:#fff;
	margin: 0px auto;
	background-color:#ff3366;
	padding: 10px;
}

.xerror{
	padding: 10px 0px 0px 0px;
}
.xerror_msg{
	font-size: 0.8em;
	margin: 0px auto; 
	padding: 5px;
	width: 75%;
	border-radius: 5px;
	color: #fff;
	background-color: #FF4343;
}
.xfree{
	border-top: 3px solid #fff;
	padding:10px;
	background-color:#ff3366;
}
.xfree_btn{
	border:2px solid #fff;
	padding:10px;
	border-radius: 5px; 
	color: #fff;
	font-weight:bold;
	background-color:#ff3366;
	transition: all .3s ease;
}

.xfree_btn:hover{
	color: #ff3366;
	background-color:#fff;
	transition: all .3s ease;
}

.xfoot{
	border-top: 3px solid #fff;
	padding:10px 10px;
	padding:10px 10px;
	color: #fff;
	background-color:#ff3366;
	font-size: 80%;
	border-radius: 0px 0px 5px 5px;
}

.xform-structor {
  height: 250px;
  width: 350px;
  position: relative;
  overflow: hidden;
}

.xform-structor::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.xform-structor .xvoucher {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 80%;
  z-index: 5;
  -webkit-transition: all .3s ease;
}

.xform-structor .xvoucher.xslide-up {
  top: 5%;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}

.xform-structor .xvoucher.xslide-up .form-holder, .xform-structor .xvoucher.xslide-up .xsubmit-btn {
  opacity: 0;
  visibility: hidden;
}
.xform-structor .xvoucher.xslide-up .xform-title {
  margin-top: 0px;
  font-size: 1em;
  cursor: pointer;
}
.xform-structor .xvoucher.xslide-up .xform-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.xform-structor .xvoucher .xform-title {
  color: #ff3366;
  font-size: 1.3em;
  text-align: center;
}
.xform-structor .xvoucher .xform-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.xform-structor .xvoucher .form-holder {
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.xform-structor .xvoucher .form-holder .input {
  border: 2px solid #ff3366;
  color:#111;
  background-color:#fff;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  display: block;
  height: 50px;
  padding: 8px 0px;
  width: 100%;
  font-size: 12px;
}

input::placeholder {
  color: red;
}

.qr-btn {
  background-color: #ff3366;
  color: #fff;
  border: 2px solid #ff3366;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 80%;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}

.xform-structor .xvoucher .form-holder .input:last-child {
  border-bottom: 0;
}
.xform-structor .xvoucher .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.xform-structor .xvoucher .xsubmit-btn {
  background-color: #ff3366;
  color: #fff;
  border: 2px solid #ff3366;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.xform-structor .xvoucher .xsubmit-btn:hover {
  transition: all .3s ease;
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.xform-structor .xlogin {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 5;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translate(-50%, 0);
  background-color: #ff3366;
  width: 200%;
  height: 250px;
  border-radius: 50%;
  z-index: 4;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin .center {
  position: absolute;
  top: calc(50% - 10%);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  width: 65%;
  z-index: 5;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin .center .xform-title {
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  margin-top: 50px
}
.xform-structor .xlogin .center .xform-title span {
  color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin .center .form-holder {
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 0px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin .center .form-holder .input {
  border: 0;
  outline: none;
  box-shadow: none;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 8px 15px;
  border-bottom: 1px solid #eee;
  width: 100%;
  font-size: 12px;
}
.xform-structor .xlogin .center .form-holder .input:last-child {
  border-bottom: 0;
}
.xform-structor .xlogin .center .form-holder .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.xform-structor .xlogin .center .xsubmit-btn {
  background-color: #ff3366;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  display: block;
  margin: 15px auto;
  padding: 15px 45px;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  visibility: visible;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin .center .xsubmit-btn:hover {
  transition: all .3s ease;
  color: #ff3366;
  background-color: #fff;
  border: 1px solid #fff;
  
}
.xform-structor .xlogin.xslide-up {
  top: 90%;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin.xslide-up .center {
  top: -5px;
  -webkit-transform: translate(-50%, 0%);
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin.xslide-up .form-holder, .xform-structor .xlogin.xslide-up .xsubmit-btn {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin.xslide-up .xform-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all .3s ease;
}
.xform-structor .xlogin.xslide-up .xform-title span {
  margin-right: 5px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .3s ease;
}

.vcode{
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 110% !important;
	letter-spacing: 0.2em;
	text-align: center;
	margin: 0px;
}

.stext{
	color: #E9D460;
}
/*---FORM-STYLE---*/

/*---MESSAGE-STYLE---*/
.logmsg{
	margin: 100px auto;
	width: 95%;
	position: relative;
	text-align: center;
	color: #fff;
	font-size: 2.5rem;
}

.logmsg h1{
	font-size: 7rem;
	font-weight: bold;
	line-height: 0px;
}

.logerror {
	background-color:#e74c3c;
	padding: 10px;
}
/*---MESSAGE-STYLE---*/


/*---MODAL-STYLE---*/
.modal_overlay {
  z-index:11;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
}

.modal_overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal_popup {
  margin: 10px auto;
  padding-bottom: 0px;
  background: #fff;
  border-radius: 5px;
  min-width: 95%;
  max-width: 95%;
  position: relative;
  transition: all 5s ease-in-out;
}

.modal_popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.modal_popup .modal_close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.modal_popup .modal_close:hover {
  color: #06D85F;
}

.modal_header{
	display:flex;
	border-radius: 5px 5px 0px 0px;
	padding: 10px;
	background-color: #ff3366;
	color: #fff;
	font-size:1.8rem;
}

.modal_header h4 {
	margin: auto;
	text-align: center;
	font-weight: bold;
}

.modal_popup .modal_content {
	padding: 10px;
	font-size: 1.8rem;
}

.modal_close_btn_outline{
	padding: 20px 10px;
}
.modal_close_btn{
	margin: auto;
	width: 100px;
	padding: 20px;
	text-align:center;
	border-radius: 5px; 
	color: #fff;
	font-weight:bold;
	font-size: 20px;
	background-color:#ff3366;
	transition: all .3s ease;
}

.modal_close_btn:hover{
	background-color:#e50039;
	transition: all .3s ease;
}

@media screen and (max-width: 700px){
  .modal_box{
    width: 70%;
  }
  .modal_popup{
    width: 70%;
  }
}

.list-x{
	margin: 0px 5px 0px 20px; 
	padding: 10px 5px 0px 20px;
}

.list-x li {
	margin-bottom: 10px;
}
/*---MODAL-STYLE---*/

/*-----START-VOUCHER-STYLE-----*/
#price-v {
  text-align: center;
}

.plan-v {
  display: inline-block;
  margin: 10px 1%;
  font-size:1.8rem;
}

.plan-v-inner {
  margin: 0 auto;
  min-width: 250px;
  max-width: 100%;
  position:relative;
  text-align: center;
  font-weight: bold;
}

.v-border{
	width: 100%;
	max-width: 250px;
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin: 0px auto;
	background-color: #e6e7e8;
}

.v-bgcolor{
	background-color: #e6e7e8;
}

.v-padding{
	padding: 5px;
}

.v-header{
	font-size: 0.8em;
}

.v-title{
	font-size: 1.3em; 
	color: #fff;
}
.v-subtitle{
	font-size: 0.8em; 
	letter-spacing: 0.2em; 
	color: #fff;
}

.v-bprice{
	background-color: #fff;
	border: 2px solid;
	margin:3px;
	padding: 2px;
}

.v-tprice{
	font-family: consolas;
	font-size: 1.2em; 
	letter-spacing: 0.2em;
}

.v-btn {
  padding: 1.5em 0;
  text-align: center;
}

.v-btn a {
  background: #FF3366;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none
}

.v-bcolor-b1{
	background-color: #00B16A;
}

.v-tcolor-b1{
	color: #00B16A;
}

.v-bdrcolor-b1{
	border-color:#00B16A;
}

.v-bcolor-b2{
	background-color: #0994DC;
}

.v-tcolor-b2{
	color: #0994DC;
}

.v-bdrcolor-b2{
	border-color:#0994DC;
}

.v-bcolor-b3{
	background-color: #891A83;
}

.v-tcolor-b3{
	color: #891A83;
}

.v-bdrcolor-b3{
	border-color:#891A83;
}

.v-bcolor-b4{
	background-color: #EC008B;
}

.v-tcolor-b4{
	color: #EC008B;
}

.v-bdrcolor-b4{
	border-color:#EC008B;
}

.v-bcolor-e1{
	background-color: #FFA801;
}

.v-tcolor-e1{
	color: #FFA801;
}

.v-bdrcolor-e1{
	border-color:#FFA801;
}

.v-bcolor-e2{
	background-color: #ff3838;
}

.v-tcolor-e2{
	color: #ff3838;
}

.v-bdrcolor-e2{
	border-color:#ff3838;
}

.v-bcolor-e3{
	background-color: #3C40C6;
}

.v-tcolor-e3{
	color: #3C40C6;
}

.v-bdrcolor-e3{
	border-color:#3C40C6;
}

.v-bcolor-e4{
	background-color: #D35400;
}

.v-tcolor-e4{
	color: #D35400;
}

.v-bdrcolor-e4{
	border-color:#D35400;
}
/*-----END-VOUCHER-STYLE-----*/

/*-----START-PRICE-TABLE-STYLE-----*/
#price-x {
  text-align: center;
}

.plan-x {
  display: inline-block;
  margin: 10px 1%;
  font-size: 1.8rem;
}

.plan-x-inner {
  background: #fff;
  margin: 0 auto;
  min-width: 230px;
  max-width: 100%;
  position:relative;
}

.entry-x-title {
  background: #1ABC9C;
  height: 120px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.entry-x-title>h3 {
  background: #16A085;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.entry-x-title .price-x {
  position: absolute;
  bottom: -25px;
  background: #16A085;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price-x span {
  position: absolute;
  font-size: 9px;
  bottom: -15px;
  left: 30px;
  font-weight: 400;
}

.entry-x-content {
  color: #323232;
}

.entry-x-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-x-content li {
  border-bottom: 1px solid #E5E5E5;
  padding: 7px 0;
  font-size: 90%;
}

.entry-x-content li:last-child {
  border: none;
}

.btn-x {
  padding: 2em 0;
  text-align: center;
}

.btn-x a {
  background: #FF3366;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  transition: all .3s ease;
}

.btn-x a:hover {
  text-decoration: none;
  color: #fff;
  background: #e50039;
}

.hot-x {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
}
.small-x .entry-x-title {
  background: #3498DB;
}

.small-x .entry-x-title > h3 {
  background: #2980B9;
}

.small-x .price-x {
  background: #2980B9;
}

.medium-x .entry-x-title {
  background: #9B59B6;
}

.medium-x .entry-x-title > h3 {
  background: #8E44AD;
}

.medium-x .price-x {
  background: #8E44AD;
}

.big-x .entry-x-title > h3 {
  background: #DD4B5E;
}

.big-x .entry-x-title {
  background: #F75C70;
}

.big-x .price-x {
  background: #DD4B5E;
}

.extra-x .entry-x-title > h3 {
  background: #2C3E50;
}

.extra-x .entry-x-title {
  background: #34495E;
}

.extra-x .price-x {
  background: #2C3E50;
}
/*-----END-PRICE-TABLE-STYLE-----*/

/*-----FAQ-----*/
details {
  width: 100%;
  min-height: 5px;
  max-width: 100%;
  padding: 10px 70px 10px 10px;
  margin: 0 auto;
  position: relative;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .3s;
  background-color: #f6f7f8;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
 
}

details p {
  color: #96999d;
}

summary {
  cursor: pointer;
  font-weight: bold;
}

summary:focus {
  outline: none;
}

summary::-webkit-details-marker {
  display: none
}

summary::after {
  padding: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  color: #ff3366;
  font-family: "mobirise-icons-bold";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  content: "\e908";
  transform: translateY(-50%);
  transition: .3s ease;
}

details[open] summary::after {
  content: "\e91a";
  font-size: 14px;
  top: 0;
  transform: translateY(0);
  transition: .3s ease;
}

details[open] summary:hover::after {
  animation: pulse 1s ease;
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*-----FAQ-----*/

/*-----START-STATUS-----*/
.vscode{
	padding: 10px; 
	margin: 20px 20px 0px 20px; 
	background-color: #ff3366; 
	color: #fff; 
	border-radius: 3px;
}
.s_table {
	padding: 20px 10px;
	margin: auto;
}

.s_form{
	height: auto;
}

.borderless td, .borderless th {
	height: 50px;
	font-size: 90%;
	border: none;
}

.vcodes{
	font-family: 'Roboto Mono', monospace;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2em;
}
/*-----END-STATUS-----*/

/*-----START-IKLAN-----*/
.adspacex {
	display:inline-block;
	background-color: #fff;
	z-index: 8;
	text-align: center;
	max-width: 400px;
	margin: 20px auto auto auto;
	border-radius: 5px;
	-webkit-box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	box-shadow: 0 10px 100px 0 rgba(0,0,0,.5);
	font-size: 1.5rem;
}

.adheaderx {
	border-radius: 5px 5px 0px 0px;
	color:#fff;
	margin: 0px auto;
	background-color:#ff3366;
	padding: 10px;
}

.adheader {
	border: 1px solid;
	font-size: 1em;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	background: #ccc;
}

.adfooter {
	border: 1px solid;
	font-size: 1em;
	padding: 10px;
	text-align: center;
	margin: 0 auto;
	background: #ccc;
}

.adimage {
	width: 100%;
	height: auto;
}

.bfree_btn{
	border:2px solid #ff3366;
	padding:10px;
	border-radius: 5px; 
	color: #ff3366;
	font-weight:bold;
	background-color:#ff;
	transition: all .3s ease;
}

.bfree_btn:hover{
	color: #fff;
	background-color:#ff3366;
	transition: all .3s ease;
}

/*-----END-IKLAN-----*/

/*---START-AUTOPOPUP---*/

.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%; 
  color: transparent;
  white-space: nowrap;
}
.bts-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 9999;
  overflow: auto;
}
.bts-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.bts-popup-container {
  border-radius: 5px;
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #fff;
  color:#ff3366;
  font-size: 1.5em;
  border-radius: none; 
  text-align: center;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.bts-popup-container p {
  padding: 10px 40px;
}
.bts-popup-container .bts-popup-button {
  padding: 5px 25px;
  border: 2px solid white;
	display: inline-block;
  margin-bottom: 10px;
}

.bts-popup-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
/*
.bts-popup-container .bts-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.bts-popup-container .bts-popup-close::before, .bts-popup-container .bts-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 16px;
  height: 3px;
  background-color: white;
}*/
.bts-popup-container .bts-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.bts-popup-container .bts-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 6px;
  top: 13px;
}
.is-visible .bts-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .bts-popup-container {
    margin: 8em auto;
  }
}
/*---END-AUTOPOPUP---*/

/*-----START-SLIDER-----*/
.slider-wrapper {
	border-radius:5px 5px 0px 0px;
  width: 350px;
  overflow: hidden;
}

.slider-wrapper img {
  width: 350px;
  height: 120px;
}

.slider-wrapper ul {
  width: 10000px;
  position: relative;
  -webkit-animation: slide 20s;
  list-style-type: none;
}

.slider-wrapper li {
  float: left;
  position: relative;
  margin-right: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

.slider-wrapper ul {
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

.slider-wrapper ul:hover, .slider-wrapper ul:hover .slide-title {
  -webkit-animation-play-state:paused;
}

.slider-wrapper a{
  text-decoration: none;
}

@-webkit-keyframes 'slide' {
  25% {
    left: 0;
  }
  30%, 55% {
    left: -350px;
  }
  60%, 85% {
    left:-700px;
  } 
 90% {
   left: 0;
}

/*-----END-SLIDER-----*/
